// Content
.uq-landing {
  position: relative;
  height: 100%;
  color: #FFF;
  display:flex;
  align-items: center;
  justify-content: center;
}

.uq-landing-content {
  text-align: center;
  padding: 20px;
}

.uq-landing-logo {
  text-align: center;
}

.uq-landing-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  margin-top: 100px;
}

.uq-landing-sub-header {
  font-style: italic;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

.uq-landing-subscriptions {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;

  .uq-landing-subscriptions-count {
    color: #0077FF;
    font-weight: 400;
  }
}

.uq-landing-play {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  color: #000;
  border-radius: 25px;
  border: none;
  text-align: center;
  margin: 60px 0;
  outline: none;
  font-size: 18px;

  .fa-play {
    margin-left: 4px;
    margin-top: 4px;
  }
}

// Video
.uq-landing-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;
}

.uq-landing-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Mailchimp
#mc_embed_signup {
  text-align: center;
}

#mc-embedded-subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mce-EMAIL {
  width: 365px;
  padding: 15px;
  font-size: 15px;
  font-weight: 300;
  border: none;
  outline: none;
  color: #414141;

  &:focus {
    box-shadow: 0 0 1px 1px #0077FF;
  }
}

#mc-embedded-subscribe {
  font-weight: 300;
  background-color: #0077FF;
  color: #FFF;
  padding: 15px;
  outline: none;
  border-width: 0;
  width: 200px;
}

// Responsive
@media (max-width: 600px) {
  .uq-landing {
    align-items: flex-start;
  }

  .uq-landing-logo {
    margin-top: 40px;
  }

  .uq-landing-header {
    font-size: 32px;
    font-weight: 600;
  }

  #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #mce-EMAIL {
    width: 100%;
  }

  #mc-embedded-subscribe {
    width: 100%;
    margin-top: 5px;
  }
}
